.fusion-column-last {
    margin: 0px 0 20px;
}
.fusion-one-full {
    float: none;
}
.fusion-row {
    overflow: hidden !important;
}
.fusion-fullwidth {
    padding: 0 !important;
}
.fusion-layout-column {
    background-color: white;
    float: left;
}
.fusion-spacing-no.fusion-one-half {
    width: 50%;
}
.fusion-column-wrapper {
    height: 250px;
    width: auto;
    padding: 3% !important;
}
.fusion-column-wrapper table {
    width: 100% !important;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.fusion-column-wrapper table td {
    width: 100% !important;
}
.fusion-column-wrapper h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}
