.userContent {
    background-color: white;
}

.l_c3pyo2v0u, .i_c3pynyi2f, .text_exposed_hide {
    display: none !important;
}


#facebook ._-kb div {
    font-family: inherit;
}

._65sr {
    margin-left: -12px;
    margin-right: -12px;
}
._2a2q {
    overflow: hidden;
    position: relative;
}