._30q- {
    background-size: cover;
    padding-bottom: 37%;
    width: 100%;
}
._39k2 {
    padding: 40px 0;
}
._4lmk {
    font-size: 40px;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto 12px;
    word-wrap: break-word;
}
._4lmi {
    background-color: white;
    text-align: left;
    padding-left: 3em;
}
._2yud {
    font-family: Helvetica, Arial, sans-serif;
}
._2yud a:link, a:visited {
    color: gray;
}
#facebook ._5s6c._5s6c, ._5s6c {
    font-family: Georgia, serif;
    letter-spacing: normal;
}
._39k5 ._2cuy {
    padding-bottom: 28px;
    word-wrap: break-word;
}
._4yxo {
    font-weight: 600;
}
