.lunch-container {
    background-color: darkgray;
    border: black 2px solid;
    padding: 8px;
    text-align: center;
    height: 100%;
}
.restaurant-menu img {
    max-width: 100%;
}
.restaurant-header {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    background-color: antiquewhite;
    margin-bottom: 10px;
}
#footer {
    font-size: 1.3em;
    background-color: darkgray;
    border: black 2px solid;
    padding: 8px;
    margin: 0 5px 5px 5px;
}
#footer .email {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 0.8em;
}
#footer > div {
    border-bottom: 1px dotted black;
}
#privacy-policy {
    background-color: darkgray;
    border: black 2px solid;
    padding: 8px;
    margin: 5px;
}

/* bootstrap overrides */

.row {
    margin: 0;
    padding: 0;
}
.col-sm {
    margin: 5px;
    padding: 0;
}
